fastapi
uvicorn
python-multipart
duckduckgo-search
googlesearch-python
datasketch
beautifulsoup4
requests
opencv-python-headless
pandas
openpyxl
pdfplumber
scikit-image
openai
google-generativeai
python-docx
python-pptx
pypdf
